body {
    background-color: black;
    color: white;
}

#error {
    color: red;
    text-decoration: underline;
}

.todo-item {
    display: flex;
    justify-items: space-between;
    width: 100%;
}